@import "colors-main.scss";

@mixin mask-image($image) {
  -webkit-mask-image: url($image);
  mask-image: url($image);
  mask-size: contain;
  mask-repeat: no-repeat;
}

.commento-option-button {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0px;
  position: absolute;
  top: 0px;
  z-index: 3;
  background: $gray-4;
}

.commento-option-reply {
  height: 20px;
  width: 20px;
  @include mask-image('data:image/svg+xml,%3Csvg%20height%3D%22800px%22%20width%3D%22800px%22%20version%3D%221.1%22%20id%3D%22_x32_%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%09.st0%7Bfill%3A%23000000%3B%7D%0A%3C%2Fstyle%3E%3Cg%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M448.115%2C240.956c-39.306-39.389-94.166-63.913-154.235-63.885h-51.026V86.142%0A%09c0-8.058-4.506-15.439-11.674-19.125c-7.172-3.677-15.8-3.047-22.352%2C1.64L8.983%2C211.746C3.343%2C215.784%2C0%2C222.295%2C0%2C229.232%0A%09s3.343%2C13.448%2C8.983%2C17.486l199.844%2C143.088c6.552%2C4.687%2C15.18%2C5.316%2C22.352%2C1.64c7.169-3.686%2C11.674-11.068%2C11.674-19.125v-90.929%0A%09h51.026c31.59%2C0.019%2C59.708%2C12.651%2C80.467%2C33.331c20.676%2C20.755%2C33.305%2C48.882%2C33.332%2C80.473c0%2C28.803%2C23.353%2C52.16%2C52.16%2C52.16%0A%09S512%2C424%2C512%2C395.196C512.028%2C335.127%2C487.508%2C280.271%2C448.115%2C240.956z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  margin: 7px 6px;
}

.commento-option-cancel {
  height: 17px;
  width: 17px;
  @include mask-image('data:image/svg+xml;utf8,%3Csvg%20fill%3D%22%23000000%22%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%200%2096%2096%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Cpath%20d%3D%22M48%2C0A48%2C48%2C0%2C1%2C0%2C96%2C48%2C48.0512%2C48.0512%2C0%2C0%2C0%2C48%2C0Zm0%2C84A36%2C36%2C0%2C1%2C1%2C84%2C48%2CA36.0393%2C36.0393%2C0%2C0%2C1%2C48%2C84Z%22%2F%3E%3Cpath%20d%3D%22M64.2422%2C31.7578a5.9979%2C5.9979%2C0%2C0%2C0-8.4844%2C0L48%2C39.5156l-7.7578-7.7578a5.9994%2C5.9994%2C0%2C0%2C0-8.4844%2C8.4844L39.5156%2C48l-7.7578%2C7.7578a5.9994%2C5.9994%2C0%2C1%2C0%2C8.4844%2C8.4844L48%2C56.4844l7.7578%2C7.7578a5.9994%2C5.9994%2C0%2C0%2C0%2C8.4844-8.4844L56.4844%2C48l7.7578-7.7578A5.9979%2C5.9979%2C0%2C0%2C0%2C64.2422%2C31.7578Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  margin: 9.5px 6px;
  background: $gray-5;
}

.commento-option-collapse {
  height: 20px;
  width: 20px;
  @include mask-image('data:image/svg+xml,%3Csvg%20fill%3D%22%23000000%22%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%200%20256%20256%22%20id%3D%22Flat%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M96%2C220a12%2C12%2C0%2C0%2C1-8.48535-20.48535L159.0293%2C128%2C87.51465%2C56.48535a12.0001%2C12.0001%2C0%2C0%2C1%2C16.9707-16.9707l80%2C80a12.00062%2C12.00062%2C0%2C0%2C1%2C0%2C16.9707l-80%2C80A11.96287%2C11.96287%2C0%2C0%2C1%2C96%2C220Z%22%2F%3E%3C%2Fsvg%3E');
  margin: 8px 4px;
}

.commento-option-uncollapse {
  height: 20px;
  width: 20px;
  @include mask-image('data:image/svg+xml,%3Csvg%20fill%3D%22%23000000%22%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%200%20256%20256%22%20id%3D%22Flat%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M128%2C188a11.96187%2C11.96187%2C0%2C0%2C1-8.48535-3.51465l-80-80a12.0001%2C12.0001%2C0%2C0%2C1%2C16.9707-16.9707L128%2C159.0293l71.51465-71.51465a12.0001%2C12.0001%2C0%2C0%2C1%2C16.9707%2C16.9707l-80%2C80A11.96187%2C11.96187%2C0%2C0%2C1%2C128%2C188Z%22%2F%3E%3C%2Fsvg%3E');
  margin: 7px 4px 9px 4px;
}

.commento-option-upvote {
  height: 20px;
  width: 20px;
  @include mask-image('data:image/svg+xml,%3Csvg%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2%209.1371C2%2014%206.01943%2016.5914%208.96173%2018.9109C10%2019.7294%2011%2020.5%2012%2020.5C13%2020.5%2014%2019.7294%2015.0383%2018.9109C17.9806%2016.5914%2022%2014%2022%209.1371C22%204.27416%2016.4998%200.825464%2012%205.50063C7.50016%200.825464%202%204.27416%202%209.1371Z%22%20fill%3D%22%231C274C%22%2F%3E%3C%2Fsvg%3E');
  margin: 8px 4px;
}

.commento-option-downvote {
  height: 20px;
  width: 20px;
  @include mask-image('data:image/svg+xml,%3Csvg%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.10627%2018.2468C5.29819%2016.0833%202%2013.5422%202%209.1371C2%204.53656%206.9226%201.20176%2011.2639%204.81373L9.81064%208.20467C9.6718%208.52862%209.77727%208.90554%2010.0641%209.1104L12.8973%2011.1341L10.4306%2014.012C10.1755%2014.3096%2010.1926%2014.7533%2010.4697%2015.0304L12.1694%2016.7302L11.2594%2020.3702C10.5043%2020.1169%209.74389%2019.5275%208.96173%2018.9109C8.68471%2018.6925%208.39814%2018.4717%208.10627%2018.2468Z%22%20fill%3D%22%231C274C%22%2F%3E%3Cpath%20d%3D%22M12.8118%2020.3453C13.5435%2020.0798%2014.2807%2019.5081%2015.0383%2018.9109C15.3153%2018.6925%2015.6019%2018.4717%2015.8937%2018.2468C18.7018%2016.0833%2022%2013.5422%2022%209.1371C22%204.62221%2017.259%201.32637%2012.9792%204.61919L11.4272%208.24067L14.4359%2010.3898C14.6072%2010.5121%2014.7191%2010.7007%2014.7445%2010.9096C14.7699%2011.1185%2014.7064%2011.3284%2014.5694%2011.4882L12.0214%2014.4609L13.5303%2015.9698C13.7166%2016.1561%2013.7915%2016.4264%2013.7276%2016.682L12.8118%2020.3453Z%22%20fill%3D%22%231C274C%22%2F%3E%3C%2Fsvg%3E');
  margin: 8px 4px;
}

.commento-upvoted {
  background: $orange-7;
}

.commento-downvoted {
  background: $indigo-6;
}

.commento-option-edit {
  height: 14px;
  width: 14px;
  @include mask-image('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg enable-background="new 0 0 528.899 528.899" version="1.1" viewBox="0 0 528.899 528.899" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="m328.88 89.125l107.59 107.59-272.34 272.34-107.53-107.59 272.28-272.34zm189.23-25.948l-47.981-47.981c-18.543-18.543-48.653-18.543-67.259 0l-45.961 45.961 107.59 107.59 53.611-53.611c14.382-14.383 14.382-37.577 0-51.959zm-517.81 449.51c-1.958 8.812 5.998 16.708 14.811 14.565l119.89-29.069-107.53-107.59-27.173 122.09z"/></svg>');
  margin: 12px 6px 12px 6px;
  background: $gray-5;
}

.commento-option-remove {
  height: 16px;
  width: 16px;
  @include mask-image('data:image/svg+xml;utf8,%3Csvg%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%200%20512%20512%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Eionicons-v5-k%3C%2Ftitle%3E%3Cpath%20d%3D%22M432%2C144%2C403.33%2C419.74A32%2C32%2C0%2C0%2C1%2C371.55%2C448H140.46a32%2C32%2C0%2C0%2C1-31.78-28.26L80%2C144%22%20style%3D%22fill%3Anone%3Bstroke%3A%23000000%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-width%3A32px%22%2F%3E%3Crect%20x%3D%2232%22%20y%3D%2264%22%20width%3D%22448%22%20height%3D%2280%22%20rx%3D%2216%22%20ry%3D%2216%22%20style%3D%22fill%3Anone%3Bstroke%3A%23000000%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-width%3A32px%22%2F%3E%3Cline%20x1%3D%22312%22%20y1%3D%22240%22%20x2%3D%22200%22%20y2%3D%22352%22%20style%3D%22fill%3Anone%3Bstroke%3A%23000000%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-width%3A32px%22%2F%3E%3Cline%20x1%3D%22312%22%20y1%3D%22352%22%20x2%3D%22200%22%20y2%3D%22240%22%20style%3D%22fill%3Anone%3Bstroke%3A%23000000%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-width%3A32px%22%2F%3E%3C%2Fsvg%3E');
  margin: 10px 6px;
  background: $red-8;
}

.commento-option-approve {
  height: 14px;
  width: 14px;
  @include mask-image('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg enable-background="new 0 0 26 26" version="1.1" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><path d="m0.3 14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5 0.3-0.7l1.4-1.4c0.4-0.4 1-0.4 1.4 0l0.1 0.1 5.5 5.9c0.2 0.2 0.5 0.2 0.7 0l13.4-13.9h0.1v-8.8818e-16c0.4-0.4 1-0.4 1.4 0l1.4 1.4c0.4 0.4 0.4 1 0 1.4l-16 16.6c-0.2 0.2-0.4 0.3-0.7 0.3s-0.5-0.1-0.7-0.3l-7.8-8.4-0.2-0.3z" fill="%231e2127"/></svg>');
  margin: 11px 4px;
  background: $green-7;
}

.commento-option-sticky,
.commento-option-unsticky {
  height: 18px;
  width: 18px;
  @include mask-image('data:image/svg+xml;utf8,%3Csvg%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%200%201024%201024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22m512%20747.84%20228.16%20119.936a6.4%206.4%200%200%200%209.28-6.72l-43.52-254.08%20184.512-179.904a6.4%206.4%200%200%200-3.52-10.88l-255.104-37.12L517.76%20147.904a6.4%206.4%200%200%200-11.52%200L392.192%20379.072l-255.104%2037.12a6.4%206.4%200%200%200-3.52%2010.88L318.08%20606.976l-43.584%20254.08a6.4%206.4%200%200%200%209.28%206.72L512%20747.84zM313.6%20924.48a70.4%2070.4%200%200%201-102.144-74.24l37.888-220.928L88.96%20472.96A70.4%2070.4%200%200%201%20128%20352.896l221.76-32.256%2099.2-200.96a70.4%2070.4%200%200%201%20126.208%200l99.2%20200.96%20221.824%2032.256a70.4%2070.4%200%200%201%2039.04%20120.064L774.72%20629.376l37.888%20220.928a70.4%2070.4%200%200%201-102.144%2074.24L512%20820.096l-198.4%20104.32z%22%2F%3E%3C%2Fsvg%3E');
  margin: 8.5px 6px;
  background: $yellow-5;
}

.commento-option-unsticky {
  @include mask-image('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg viewBox="0 0 487.22 487.22" xmlns="http://www.w3.org/2000/svg"><g><title>background</title><rect x="-1" y="-1" fill="none"/></g><g><title>Layer 1</title><path d="m486.55 186.81c-1.6-4.9-5.8-8.4-10.9-9.2l-152-21.6-68.4-137.5c-2.3-4.6-7-7.5-12.1-7.5s-9.8 2.9-12.1 7.6l-67.5 137.9-152 22.6c-5.1 0.8-9.3 4.3-10.9 9.2s-0.2 10.3 3.5 13.8l110.3 106.9-25.5 151.4c-0.9 5.1 1.2 10.2 5.4 13.2 2.3 1.7 5.1 2.6 7.9 2.6 2.2 0 4.3-0.5 6.3-1.6l135.7-71.9 136.1 71.1c2 1 4.1 1.5 6.2 1.5 7.4 0 13.5-6.1 13.5-13.5 0-1.1-0.1-2.1-0.4-3.1l-26.3-150.5 109.6-107.5c3.9-3.6 5.2-9 3.6-13.9z" fill="%231e2127"/></g></svg>');
  background: $yellow-7;
}

.commento-option-button:focus {
  outline: none;
}
